*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 8%;
    padding-top: 2px;
}

.logo img{
    max-width: 100%;
    width: 100px;
    height: auto;
}

.navmenu{
    display: flex;
}

.navmenu li{
    position: relative;
}

.navmenu a{
    color: #212832;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 500;
    padding: 15px 25px;
    transition: all 0.3s;
}

.navmenu a::after{
    content: '';
    position: absolute;
    width: 0;
    height: 1.3px;
    background: #212832;
    bottom: -2px;
    left: 0;
    transition: all 0.3s;
}

.navmenu a:hover::after{
    width: 100%;
}

.btn-icon{
    display: flex;
    align-items: center;
}

.nav-btn{
    font-size: 16px;
    color: #1e2442;
    font-weight: 500;
    border: 1.3px solid #212832;
    padding: 3px 12px;
    border-radius: 5px;
    margin-right: 20px;
    transition: all 0.3s;
}

.nav-btn:hover{
    background-color: #1e2442;
    color: #dddddd;
}

#menu-icon{
    font-size: 32px;
    color: #212832;
    z-index: 10001;
    cursor: pointer;
    display: none;
}

section{
    padding: 60px 12%;
}

.home{
    width: 100%;
    height: 100vh;
    background-image: url(background-img.jpg);
    background-size: cover;
    background-position: center;
    /* background-color: #B6BBC4; */
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
}

.home-img img{
    margin-top: 3.9rem;
    margin-left: 3rem;
    max-width: 100%;
    width: 1000px;
    height: auto;
}

.home-text{
    margin-top: -2.9rem;
}

.home-text h4{
    color: #2D3250;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 10px;
    letter-spacing: 0.5px;
}

.home-text h1{
    color: #383d59;
    font-size: 50px;
    font-family: 'Volkhov';
    font-weight: 700;
    line-height: 51px;
    letter-spacing: -0.04em;
    margin-bottom: 18px;
}

.home-text p{
    color: #575c7d;
    font-size: 15px;
    font-weight: 500;
    line-height: 25px;
    margin-bottom: 30px;
}

.button{
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.btn1{
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    color: #fff;
    text-transform: capitalize;
    padding: 8px 18px;
    background: #1e2442;
    border-radius: 10px;
    margin-right: 40px;
    transition: all 0.3s;
}

.btn1:hover{
    transform: translateY(-5px);
}

.btn2{
    color: #505470;
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.btn2 span i{
    padding-left: 4.3px;
    width: 43px;
    height: 43px;
    background-color: #2B2A4C;
    color: #fff;
    font-size: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0px 15px 30px rgba(43,42,76,0.3);
    margin-right: 15px;
    transition: all 0.3s;
}

.btn2 span i:hover{
    opacity: 0.9;
    transform: translateY(-4px);
}

/* sticky header */

header.sticky{
    background-color: #EEEEEE;
    box-shadow: 0px 4px 15px rgb(0 0 0 / 8%);
    transition: 0.3s;
}

/* category */

.category{
    margin-top: 2rem;
    padding: 0;
}

.center-text{
    text-align: center;
}

.center-text h4{
    font-size: 18px;
    color: #5E6282;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 30px;
}

.center-text h2{
    font-size: 50px;
    color: #14183E;
    text-transform: capitalize;
    font-weight: 700;
    font-family: 'Volkhov';
    margin-bottom: 70px;
}

.cate-pro{
    padding: 0 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px,auto));
    gap: 1.5rem;
    text-align: center;
}

.row{
    padding: 40px 15px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
    transition: all 0.3s;
}

.row i{
    color:#14183E;
    font-size: 50px;
    height: auto;
    margin-bottom: 20px;
}

.row h5{
    font-size: 16px;
    color: #1E1D4C;
    font-weight: 600;
    margin-bottom: 15px;
}

.row p{
    color: #5E6282;
    font-size: 12px;
    font-weight: 500;
}

.row:hover{
    transform: translateY(-8px);
}

/* Destinations */

.Destination{
    margin-top: 4.5rem;
    padding: 0;
}

.main-dest{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, auto));
    align-items: center;
    padding: 0 30px;
    gap: 1rem;
}

.hov-img img{
    width: 280px;
    height: 250px;
    border-radius: 10px;
    transition: all 0.3s;
}

.Dest-text h5{
    font-size: 18px;
    color: #5E6282;
    text-transform: capitalize;
    font-weight: 600;
    line-height: 25px;
    text-align: center;
}

.Dest-text h2{
    color: #14183E;
    font-size: 50px;
    text-transform: capitalize;
    font-weight: 700;
    font-family: 'Volkhov';
    text-align: center;
    margin-bottom: 50px;
}

.box{
    position: relative;
}

.box .text-in{
    position: absolute;
    bottom: 25px;
    left: 20px;
}

.text-in h5{
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
}

.text-in p{
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
}

.coun-text{
    position: absolute;
    top: 25px;
    left: 20px;
}

.box h6{
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
}

.hov-img{
    overflow: hidden;
}

.hov-img:hover img{
    transform: scale(1.1);
    filter: brightness(50%) hue-rotate(45deg);
}